# Auto detect text files and perform LF normalization
* text=auto

# JS, TS, HTML, CSS, SCSS files will use LF
*.js text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf

# Exclude binary files from EOL conversion
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
