:host {
  display: contents; // let it behave as if it’s part of the parent layout
}

.navbar {
  display: flex;
  gap: var(--space-lg);
  //background: linear-gradient(to bottom, #1e1e2f, #000000); /* Dark gradient background */
  color: #fff !important; /* Ensure text is visible */
  padding: 1rem 2rem;
}

.navbar a {
  color: #fff !important; /* Default text color */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.navbar a:hover {
  color: #7ebafa !important;  /* Highlight color on hover */
  transform: translateY(-3px); /* Slight lift effect */
}

.navbar a.active {
  font-weight: bold;
  border-bottom: 2px solid #7ebafa !important; /* Underline for active link */
}
