<div class="sidebar-overlay" 
     [ngClass]="{'visible': isMobile && isVisible, 'hidden': !(isMobile && isVisible)}"
     (click)="toggleMenu()">
</div>

<aside class="sidebar" 
       [ngClass]="{
         'sidebar--expanded': isExpanded || (isMobile && isVisible), 
         'sidebar--mobile': isMobile,
         'sidebar--visible': (isMobile && isVisible) || (!isMobile && isExpanded),
         'sidebar--hidden': !((isMobile && isVisible) || (!isMobile && isExpanded))
       }"
>
  
  <div class="sidebar__header">
    <div class="sidebar__brand" [class.sidebar__brand--collapsed]="!isExpanded">
      <div class="logo">व्य</div>
      <span class="brand-name" *ngIf="isExpanded">व्यक्तिगतवृत्त</span>
    </div>
    <button class="sidebar__toggle" (click)="toggleMenu()" *ngIf="!isMobile">
      <fa-icon [icon]="isExpanded ? faTimes : faBars"></fa-icon>
    </button>
    <button class="sidebar__close" (click)="toggleMenu()" *ngIf="isMobile">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <div class="sidebar__search" *ngIf="isExpanded">
    <div class="search-input">
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Search...">
    </div>
  </div>
  
  <nav class="sidebar__nav">
    <ul class="sidebar__menu">
      <li *ngFor="let item of menuItems" class="sidebar__menu-item">
        <a [routerLink]="item.route" routerLinkActive="active" class="sidebar__menu-link">
          <fa-icon [icon]="item.icon" class="sidebar__menu-icon"></fa-icon>
          <span class="sidebar__menu-text" *ngIf="isExpanded">{{ item.label }}</span>
          <div class="tooltip" *ngIf="!isExpanded">{{ item.label }}</div>
        </a>
      </li>
    </ul>
  </nav>
  
  <div class="sidebar__footer">
    <button (click)="logout()" class="sidebar__menu-link sidebar__logout">
      <fa-icon [icon]="faSignOutAlt" class="sidebar__menu-icon"></fa-icon>
      <span class="sidebar__menu-text" *ngIf="isExpanded">Log Out</span>
      <div class="tooltip" *ngIf="!isExpanded">Log Out</div>
    </button>
  </div>
</aside>
  