@import 'variables';

.layout-footer {
  text-align: center;
  padding: var(--space-sm);
  font-size: 0.875rem;
  color: var(--text-light);
  background-color: white;
  border-top: 1px solid var(--border-light);
  background: linear-gradient(to bottom, #d9e2ec, #f0f4f8);

  body.dark-mode & {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    border-color: var(--border-dark);
  }
}
