@use 'variables' as *;

.simple-footer {
  width: 100%;
  text-align: center;
  // padding: var(--space-md);
  display: block;
  
  .copyright {
    font-size: var(--font-size-sm);
    color: rgba(255, 255, 255, 0.7);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.02em;
  }
}
