// Main styles entry point
@use '_variables' as *;
@use 'layout/_mixins' as mix;
@use 'layout/_layout' as *;
@use '_buttons' as *;
@use '_typography' as *; // Add the new typography file

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-light);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  // Apply the space background directly
  background: url('/assets/main_theme.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  &.dark-theme {
    // Darker version with a subtle black overlay
    background: linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
                ),
                url('/assets/main_theme.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--text-light);
  }
}